.btnProduct {
    border-radius: 6px;
    padding: 8px 20px;
    margin: 5px 15px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    max-width: 10em;
    background-color: #2C5784;
    color: #FFFFFF;
    cursor: pointer;
}