.cartContainer {
    width: 600px;
    height: 400px;
    border: 1px black solid;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.divCartButton {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
}

.divCartTotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
}

.divCartItems {
    display: flex;
    flex-direction: column;
}

.divCartSubItems {
    display: flex;
    padding: 4px 8px;
}

.cartButtons {
    display: flex;
    margin: 20px auto;
    padding: 4px 8px;
}