.weContainer {
    width: 60em;
    height: 20em;
    margin: 50px auto;
    //background-color: #DCDCDD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weTitle {
    font-size: 1.8em;
    margin: 10px 0px;
}

.weText {}