.header {
    background-color: #FFFFFF;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.unList {
    list-style: none;
    display: flex;
    flex-direction: row;

}

.linkNav {
    text-decoration: none;
    padding: 0em 1em;
    color: #2C5784;
    font-size: 1.2em;
    font-weight: bold;
}

.div__logo {
    width: 5em;
    height: 5em;
}

.logoBeSelf {
    width: 100%;
    height: 100%;
}