.header {
    background-color: #FFFFFF;
    height: 5.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.unList {
    list-style: none;
    display: flex;
    flex-direction: row;

}

.linkNav {
    text-decoration: none;
    padding: 0em 1em;
    color: #2C5784;
    font-size: 1.2em;
    font-weight: bold;
}

.contenedorLogo {
    width: 12em;
    height: 5em;
}

.divLogo {
    width: 12em;
    height: 4em;

}

.logoSVGBeSelf {
    height: 200%;
    margin-top: -25px;
}

.logoDescription {
    font-size: 0.6em;
    font-weight: bold;
    color: #2C5784;

}