.carruselContainer {
    background-color: red;
}

.arrows {
    width: 20px;
    height: 20px;
}

.imgCarrusel {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.carruselSlide {
    display: flex;
    flex-direction: row;

}