.itemCountContainer {
    width: 6em;
    height: 1.3em;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
}

.spanCount {
    width: 10px;
    height: 10px;
}

.imgCount {
    width: 100%;
    height: 100%;
}