.itemCountContainer {
    width: 16em;
    height: 11em;
    background-color: #EBEBD3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spanCount {
    padding: 1em;
    height: 1em;
}